header {
  height: 35vh;
  padding-top: 2.2rem;
  background-size: cover;

  h1 {
    text-transform: uppercase;
    font-family: $firstBaseFont;
  }
}

// Header for the Home page
.homePageHeader {
  background-image: url(../assets/header-home.jpg);
  background-position: center;

  h1 {
    font-size: 2.5rem;
    width: 50%;
    font-weight: bold;
    position: relative;
    top: 1rem;
  }
}

// Header for the Blog page
.blogPageHeader {
  background-image: url(../assets/blog-image.jpg);
  background-position: center;

  h1 {
    font-size: 5rem;
    width: 50%;
    font-weight: normal;
    position: relative;
    top: 7rem;
  }
}

// Header for the Contact page
.contactPageHeader {
  background-image: url(../assets/contact-image.jpg);
  background-position: center;

  h1 {
    display: block;
    top: 10rem;
    font-size: 2.5rem;
    position: absolute;
  }
}
