@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:ital,wght@0,100;0,300;1,400&display=swap');


$primaryColor: #f5f5f5;
$backgroundColor: #e0fddf;
$btnColor: #065635;
$baseColor: #151514;
$borderColor: #f8fb05;

$primaryFont: 'Lato', sans-serif;
$firstBaseFont: 'Kumar One Outline', cursive;
$secondBaseFont: 'Kumar One', cursive;

$mobileScreen: 400px;
$tabletScreenMin: 651px;
$tabletScreenMax: 960px; 
$desktopScreenMin: 961px;
$largeDesktopScreen: 1021px;