@import "setup";
@import "variables";
@import "navigation";
@import "header";
@import "home";
@import "blog";
@import "button";
@import "footer";
@import "mixins";
@import "mediaQueries";

html {
  font-size: 62.5%;
}

body {
  font-family: $primaryFont;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}