@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:ital,wght@0,100;0,300;1,400&display=swap");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.logoNav {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logoNav .logo {
  width: 20%;
  font-size: 2rem;
  font-family: "Kumar One", cursive;
  line-height: 2.2rem;
}

.logoNav .hamburger {
  display: inline-block;
  font-size: 2.5rem;
}

ul {
  display: none;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #151514;
  margin: 0 1rem 0;
  padding: 0 0 .1rem;
  border-bottom: 2px solid inherit;
  font-size: 1.5rem;
}

ul li a:hover {
  border-bottom: 3px solid #f8fb05;
}

header {
  height: 55vh;
  padding-top: 2rem;
  background-size: cover;
}

header h1 {
  text-transform: uppercase;
  font-family: "Kumar One Outline", cursive;
}

.homePageHeader {
  background-image: url(../assets/header-home.jpg);
  background-position: center;
}

.homePageHeader h1 {
  font-size: 2.5rem;
  width: 50%;
  font-weight: bold;
  position: relative;
  top: 1rem;
}

.blogPageHeader {
  background-image: url(../assets/blog-image.jpg);
  background-position: center;
}

.blogPageHeader h1 {
  font-size: 5rem;
  width: 50%;
  font-weight: normal;
  position: relative;
  top: 7rem;
}

.contactPageHeader {
  background-image: url(../assets/contact-image.jpg);
  background-position: center;
}

.contactPageHeader h1 {
  display: block;
  top: 10rem;
  font-size: 2.5rem;
  position: absolute;
}

.homeMainPage .section1 {
  display: none;
  position: relative;
}

.homeMainPage .section1 .section1Img {
  position: relative;
  top: -12rem;
  left: -5rem;
  width: 70%;
  height: 15vh;
}

.homeMainPage .section1 .section1Img img {
  width: 100%;
  display: block;
}

.homeMainPage h2 {
  font-family: "Kumar One", cursive;
}

.homeSection2 {
  padding-bottom: 2rem;
  margin-top: 4rem;
}

.homeSection2 .section2ContentContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 30%;
      grid-template-columns: 65% 30%;
  gap: 5%;
}

.homeSection2 .section2ContentContainer .content {
  text-align: left;
}

.homeSection2 .section2ContentContainer .content h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  line-height: 2rem;
}

.homeSection2 .section2ContentContainer .content p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.homeSection2 .section2ContentContainer .button {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  letter-spacing: 0.1rem;
  margin-left: 0;
}

.homeSection2 .section2ContentContainer .section2Img img {
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.homeSection3 {
  background-color: #e0fddf;
  padding: 2.5rem 0;
}

.homeSection3 .homeSection3ImgContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.homeSection3 .homeSection3ImgContainer img {
  width: 100%;
  border-radius: 5px;
}

.homeSection4 {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.homeSection4 .homeSection4Grid {
  display: block;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.homeSection4 .homeSection4Grid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem 1rem;
}

.homeSection4 .homeSection4Grid li .icons {
  margin-right: 1rem;
  height: 20%;
  padding: 0.5rem 0.5rem;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.homeSection4 .homeSection4Grid li .icons i {
  width: 100%;
}

.homeSection4 .homeSection4Grid li h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.homeSection4 .homeSection4Grid li p {
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: left;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.homeSection5 {
  padding-top: 4rem;
  background: #e0fddf;
}

.homeSection5 .homeSection5Grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem 3.5rem;
  padding-bottom: 2rem;
}

.homeSection5 .homeSection5Grid h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.7rem;
  font-size: 1.7rem;
}

.homeSection5 .homeSection5Grid .button {
  display: inline;
  letter-spacing: 0.1rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}

.homeSection5 .homeSection5Grid .homeSection5ImgOne,
.homeSection5 .homeSection5Grid .homeSection5ImgTwo {
  width: 100%;
}

.homeSection5 .homeSection5Grid .homeSection5ImgOne {
  -webkit-box-shadow: 9px 9px #f8fb05;
          box-shadow: 9px 9px #f8fb05;
}

.homeSection5 .homeSection5Grid .homeSection5ImgTwo {
  right: 0;
  bottom: 0;
  -webkit-box-shadow: -9px 9px #f8fb05;
          box-shadow: -9px 9px #f8fb05;
}

.homeSection5 .homeSection5Grid .newLocations {
  text-align: right;
  padding-bottom: 2rem;
}

.homeSection5 .homeSection5Grid p {
  line-height: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.homeSection6 img {
  width: 100%;
}

.homeSection7 {
  text-align: center;
  padding: 4rem 3rem 0;
}

.homeSection7 h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.homeSection7 p {
  text-align: left;
  font-size: 1.7rem;
  line-height: 2rem;
}

.homeSection7 .button {
  display: inline;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 3rem;
}

main {
  background-color: #e0fddf;
  padding: 3rem 0 4rem 0;
}

.section1ImgContainer {
  background: white;
  padding: 1rem 0 0 0;
}

.section1ImgContainer .blogPostImg {
  width: 100%;
  padding: 0;
  margin-top: 0;
}

.blogPostSideBarContainer {
  padding-top: 4rem;
}

.blogPostSideBarContainer .blogPost h2 {
  text-transform: uppercase;
  font-family: "Kumar One", cursive;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.blogPostSideBarContainer .blogPost .date {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 2rem;
}

.blogPostSideBarContainer .blogPost .post {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  line-height: 1.9rem;
}

.blogPostSideBarContainer .blogPost .post:last-child {
  margin-bottom: 5rem;
}

.blogPostSideBarContainer .sideBar {
  background: lemonchiffon;
  padding: 2.5rem;
  border-radius: 10px;
}

.blogPostSideBarContainer .sideBar .sideBarImg {
  display: none;
}

.blogPostSideBarContainer .sideBar .sideBarContent h3 {
  font-size: 1.4rem;
  text-align: center;
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.blogPostSideBarContainer .sideBar .sideBarContent p {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.blogPostSideBarContainer .sideBar .sideBarPosts {
  text-align: center;
}

.blogPostSideBarContainer .sideBar .sideBarPosts ul {
  display: inline-block;
  line-height: 2rem;
}

.blogPostSideBarContainer .sideBar .sideBarPosts ul li {
  list-style-type: disc;
  text-align: center;
  font-size: 1.4rem;
}

.comments {
  padding-top: 5rem;
}

.comments h3 {
  text-transform: uppercase;
  font-family: "Kumar One", cursive;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.comments .firstComment,
.comments .secondComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.comments .commentContainer p.dateAndAuthor {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.comments .commentContainer p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: left;
}

.comments .commentImg {
  margin-right: 2rem;
  height: 30%;
}

.postSection {
  background: white;
  padding: 3rem 0 2rem;
}

main {
  background-color: #e0fddf;
  padding: 3rem 0 4rem 0;
}

main .textEmailContainer input {
  display: block;
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-bottom: 2px solid #065635;
  outline: none;
  font-size: 1.5rem;
}

main .textEmailContainer input:not(:last-child) {
  margin-bottom: 2rem;
}

main .textEmailContainer input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
}

main .textEmailContainer input:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
}

main .textEmailContainer input::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
}

main .textEmailContainer input::placeholder {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
}

main textarea {
  width: 100%;
  resize: none;
  border: 2px solid #065635;
  margin-top: 3rem;
  margin-bottom: 3rem;
  outline: none;
  padding: 1.2rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

main textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
}

main textarea:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
}

main textarea::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
}

main textarea::placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
}

main .button {
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
}

main .section2 {
  text-align: center;
}

main .socialIcons a i {
  font-size: 2rem;
  color: #065635;
  margin-bottom: 3.5rem;
}

main .socialIcons a:not(:last-child) {
  margin-right: 4.5rem;
}

main .fullContactDetails {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  font-weight: bold;
}

main .fullContactDetails p:first-child {
  margin-bottom: 1.1rem;
}

.button {
  display: block;
  text-transform: uppercase;
  font-family: "Kumar One", cursive;
  background-color: #065635;
  color: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 2px;
}

footer {
  padding: 2rem;
  font-size: 1.4rem;
  text-align: center;
  background-color: #151514;
  color: #f5f5f5;
  font-weight: bold;
}

@media only screen and (min-width: 961px) {
  main div.contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 961px) {
  main .section1 {
    position: relative;
    top: -11rem;
    width: 70%;
    margin-right: 3rem;
    padding: 5rem;
    left: -2rem;
    background: white;
    -webkit-box-shadow: 21px 21px #f8fb05;
            box-shadow: 21px 21px #f8fb05;
  }
}

@media only screen and (min-width: 961px) {
  main .section1 button {
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  main .section1 .textEmailContainer input {
    width: 48%;
  }
}

@media only screen and (min-width: 961px) {
  main .section2 {
    text-align: left;
    margin-top: 7rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  main .textEmailContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 961px) {
  main .textEmailContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  main .textEmailContainer input {
    width: 49%;
  }
}

@media only screen and (min-width: 961px) {
  main .textEmailContainer input {
    width: 49%;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  main .textEmailContainer input:not(:last-child) {
    margin-bottom: 0rem;
  }
}

@media only screen and (min-width: 961px) {
  main .textEmailContainer input:not(:last-child) {
    margin-bottom: 0rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homePageHeader .logoNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 961px) {
  .homePageHeader .logoNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homePageHeader .logoNav i {
    display: none;
  }
}

@media only screen and (min-width: 961px) {
  .homePageHeader .logoNav i {
    display: none;
  }
}

@media only screen and (min-width: 961px) {
  .homePageHeader h1 {
    font-size: 4.5rem;
    font-weight: normal;
    top: 1rem;
  }
}

.homeMainPage {
  position: relative;
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homeMainPage .section1 {
    display: block;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) and (min-width: 651px) and (max-width: 960px) {
  .homeMainPage .section1 .section1Img {
    position: absolute;
    top: -13rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) and (min-width: 651px) and (max-width: 960px) and (min-width: 651px) and (max-width: 960px) {
  .homeMainPage .section1 .section1Img img {
    width: 80%;
  }
}

@media only screen and (min-width: 961px) {
  .homeMainPage .section1 {
    display: block;
  }
}

@media only screen and (min-width: 961px) {
  .homeMainPage .section1 .section1Img {
    top: -19rem;
    left: 0rem;
    width: 70%;
  }
}

@media only screen and (min-width: 961px) {
  .homeMainPage .section1 .section1Img img {
    width: 70%;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homeSection2 {
    padding-top: 21rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) and (min-width: 651px) and (max-width: 960px) {
  .homeSection2 .section2ContentContainer {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) and (min-width: 651px) and (max-width: 960px) {
  .homeSection2 .section2ContentContainer .content h2 {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) and (min-width: 961px) {
  .homeSection2 .section2ContentContainer .content h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) and (min-width: 651px) and (max-width: 960px) {
  .homeSection2 .section2ContentContainer .content p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homeSection4 .homeSection4Grid {
    display: -ms-grid;
    display: grid;
    gap: 30px 0;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection4 .homeSection4Grid {
    display: -ms-grid;
    display: grid;
    gap: 30px 0;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homeSection4 .homeSection4Grid li h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection4 .homeSection4Grid li h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homeSection4 .homeSection4Grid li p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection5 {
    height: 53vh;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homeSection5 .homeSection5Grid li h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection5 .homeSection5Grid li h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homeSection5 .homeSection5Grid li p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection5 .homeSection5Grid li p {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection5 .homeSection5Grid .button {
    font-size: 1.4rem;
    margin-top: 0.2rem;
    padding: 0.5rem 1.4rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection5 .homeSection5Grid .homeSection5ImgOne {
    position: relative;
    top: -9rem;
    left: -7rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection5 .homeSection5Grid .homeSection5ImgTwo {
    position: relative;
    bottom: 3rem;
    right: -6rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homeSection7 h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection7 h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .homeSection7 p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection7 p {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection7 .button {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding: 0.5rem 1.4rem;
  }
}

@media only screen and (min-width: 1021px) {
  header {
    height: 60vh;
  }
}

@media only screen and (min-width: 1021px) {
  .homePageHeader h1 {
    width: 40%;
  }
}

@media only screen and (min-width: 1021px) {
  .homeMainPage .section1 .section1Img img {
    position: absolute;
    top: -13rem;
    left: -1rem;
  }
}

@media only screen and (min-width: 1021px) {
  .homeSection2 {
    margin-top: 11rem;
  }
}

@media only screen and (min-width: 1021px) {
  .homeSection2 .section2ContentContainer .content h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1021px) {
  .homeSection2 .section2ContentContainer .content p {
    font-size: 2.3rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1021px) {
  .homeSection2 .section2ContentContainer .button {
    font-size: 1.5rem;
    padding: 0.5rem 0.7rem;
  }
}

@media only screen and (min-width: 1021px) {
  .homeSection2 .section2ContentContainer .section2Img img {
    height: 85%;
  }
}

@media only screen and (min-width: 961px) {
  .homeSection4 {
    padding-top: 8rem;
    padding-bottom: 5rem;
    height: 45vh;
  }
}

@media only screen and (min-width: 1021px) {
  .homeSection5 {
    height: 75vh;
  }
}

@media only screen and (min-width: 1021px) {
  .homeSection5 .homeSection5Grid .homeSection5ImgOne {
    left: -14rem;
  }
}

@media only screen and (min-width: 1021px) {
  .homeSection5 .homeSection5Grid .homeSection5ImgTwo {
    right: -12rem;
    bottom: 12rem;
  }
}

@media only screen and (min-width: 961px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .logoNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 961px) {
  .logoNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 651px) and (max-width: 960px) {
  .logoNav .fa-bars::before {
    content: "";
  }
}

@media only screen and (min-width: 961px) {
  .logoNav .fa-bars::before {
    content: "";
  }
}

@media only screen and (min-width: 961px) {
  .section1ImgContainer {
    width: 73%;
    position: relative;
    top: -11rem;
    -webkit-box-shadow: 10px 10px 0 #f8fb05;
            box-shadow: 10px 10px 0 #f8fb05;
    padding-top: 0;
    z-index: 1;
  }
}

@media only screen and (min-width: 961px) {
  .blogPostSideBarContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    position: relative;
    top: -13rem;
  }
}

@media only screen and (min-width: 961px) {
  .blogPostSideBarContainer .blog {
    padding-left: 2rem;
    background-color: #f5f5f5;
    padding-top: 6rem;
    width: 77%;
    border-right: 10px solid #f8fb05;
    border-bottom: 10px solid #f8fb05;
  }
}

@media only screen and (min-width: 961px) {
  .blogPostSideBarContainer .sideBar {
    padding-left: 0px;
    width: 26rem;
    background: #f8fb05;
    position: relative;
    top: -15rem;
    right: -3rem;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 30%;
  }
}

@media only screen and (min-width: 961px) and (min-width: 961px) {
  .blogPostSideBarContainer .sideBar .sideBarImg {
    display: block;
    width: 100%;
    height: 40%;
    -o-object-fit: unset;
       object-fit: unset;
    position: relative;
    right: -1rem;
    top: -1rem;
  }
}

@media only screen and (min-width: 961px) and (min-width: 961px) {
  .blogPostSideBarContainer .sideBar .sideBarContent {
    padding: 2rem;
  }
}

@media only screen and (min-width: 961px) and (min-width: 961px) and (min-width: 961px) {
  .blogPostSideBarContainer .sideBar .sideBarContent .sideBarMission h3,
  .blogPostSideBarContainer .sideBar .sideBarContent .sideBarMission p {
    text-align: left;
  }
}

@media only screen and (min-width: 961px) and (min-width: 961px) and (min-width: 961px) {
  .blogPostSideBarContainer .sideBar .sideBarContent .sideBarPosts h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 961px) {
  .section2BlogPostSideBar {
    height: 50vh;
  }
}

@media only screen and (min-width: 961px) {
  .comments h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 961px) {
  .comments .firstComment,
  .comments .secondComment {
    width: 55%;
    font-weight: bold;
  }
}

@media only screen and (min-width: 961px) {
  .postSection {
    background: #e0fddf;
  }
}

@media only screen and (min-width: 961px) {
  .postSection form {
    width: 60%;
  }
}

@media only screen and (min-width: 961px) {
  .postSection input,
  .postSection textarea {
    background: #e0fddf;
  }
}

@media only screen and (min-width: 961px) {
  .postSection button {
    width: 100%;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
